#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Orangized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Butcher plaid jean shorts, whatever irony affogato distillery single-origin coffee gluten-free tote bag paleo church-key cray. Williamsburg biodiesel hella chicharrones normcore intelligentsia tofu pitchfork flexitarian pour-over put a bird on it vice, sriracha DIY hashtag. Craft beer affogato freegan banh mi YOLO occupy. Meggings etsy semiotics XOXO, neutra man bun tote bag aesthetic bespoke hella brooklyn asymmetrical retro ugh bushwick. Four loko poutine post-ironic, aesthetic drinking vinegar cray austin. Salvia master cleanse schlitz actually. Fashion axe seitan poutine single-origin coffee meggings.

#bottom_cta
	.wrapper
		%h2 Go ahead!
		%br
		%button= link_to "Join now!", new_user_registration_path